# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.gradio/
.Python
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
myenv/

# Virtual environment
.env
.env_local
.env.local

# Editor directories and files
.vscode/
.idea/
*.swp

# Mac
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/


captions.txt
